body {
  width: 250px;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  padding: 10px;
  font-size: 14px; /* Base font size for the body */
}

#popup-content {
  text-align: center;
}

h1 {
  font-size: 18px; /* Adjust the size of the heading */
  margin-bottom: 10px;
}

p {
  font-size: 12px; /* Adjust the size of the paragraph text */
  margin-bottom: 10px;
}

#settings-icon {
  cursor: pointer;
  float: right;
}

#options-panel {
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

#options-panel h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

#options-panel label {
  display: block;
  margin-top: 10px;
  font-size: 12px;
}

#options-panel select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #333;
  color: white;
  border: 1px solid #444;
}

#options-panel button {
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#options-panel button:hover {
  background-color: #0056b3;
}

.lazy-lookup-popup .original-text,
.lazy-lookup-popup .translated-text {
  margin-bottom: 10px;
}

.lazy-lookup-popup .word-explanation {
  border-top: 1px solid #444;
  padding-top: 10px;
  margin-top: 10px;
}

.lazy-lookup-popup .word-explanation h3 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.lazy-lookup-popup .word-explanation div {
  font-size: 14px;
  line-height: 1.4;
}

.lazy-lookup-popup .word-explanation div p {
  margin-bottom: 10px;
}

.clickable-word {
  display: inline;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  border-radius: 3px;
}

.clickable-word:hover {
  background-color: rgba(220, 220, 220, 1); /* Lighter gray with 50% opacity */
  border-radius: 3px;
}

.translated-word {
  display: inline;
  border-radius: 3px;
}

.translated-word:hover {
  background-color: rgba(255, 255, 255, 1); /* Soft grey with 30% opacity */
  border-radius: 3px;
}