body {
  width: 250px;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  padding: 10px;
  font-size: 14px; /* Base font size for the body */
}

#popup-content {
  text-align: center;
}

h1 {
  font-size: 18px; /* Adjust the size of the heading */
  margin-bottom: 10px;
}

p {
  font-size: 12px; /* Adjust the size of the paragraph text */
  margin-bottom: 10px;
}

#settings-icon {
  cursor: pointer;
  float: right;
}

#options-panel {
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

#options-panel h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

#options-panel label {
  display: block;
  margin-top: 10px;
  font-size: 12px;
}

#options-panel select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #333;
  color: white;
  border: 1px solid #444;
}

#options-panel button {
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#options-panel button:hover {
  background-color: #0056b3;
}

.lazy-lookup-popup .original-text,
.lazy-lookup-popup .translated-text {
  margin-bottom: 10px;
}

.lazy-lookup-popup .word-explanation {
  border-top: 1px solid #444;
  padding-top: 10px;
  margin-top: 10px;
}

.lazy-lookup-popup .word-explanation h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.lazy-lookup-popup .word-explanation p {
  font-size: 12px;
  line-height: 1.4;
}

.clickable-word {
  cursor: pointer;
  text-decoration: underline;
  color: #007bff;
}

.clickable-word:hover {
  color: #0056b3;
}

.translated-word {
  display: inline-block;
  padding: 2px 4px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  border-radius: 3px;
}

.translated-word:hover {
  background-color: rgba(128, 128, 128, 0.3); /* Soft grey with 30% opacity  128, 128, 128, 0.3*/
  border-radius: 3px;
}